openapi: 3.1.0
info:
  title: Orbiter Universe API
  version: 0.1.0
  description: |
    The consumer-facing contract of the Orbiter Universe backend. Every caller is a registered client (the Orbiter App backend, self-hosted App backends, tooling) authenticating with an API key. Every response carries the canonical entity id — a merged id resolves through the merge chain and the response echoes the requested id.
servers:
  - url: https://universe.orbiter.io
security:
  - bearerAuth: []
tags:
  - name: Entities
    description: Canonical entity reads and identifier resolution.
  - name: Enrichment
    description: |
      Data-plane enrichment triggers: the company get-or-create entry gate (scope enrich:company) and the person one (enrich:person). The two scopes are independent.
  - name: Projections
    description: |
      Versioned packages consumers read and upsert from. Row-derived projections carry an entity's attributes; the graph-derived subgraph projection carries its relationships, including edge types that have no backing row.
  - name: Graph
    description: |
      Operator-only graph seeding (scope graph:seed). Not part of the consumer contract — self-hosted clients never call these.
  - name: Admin
    description: |
      Management plane: client registry and API-key lifecycle (scope clients:manage). Not part of the consumer contract — self-hosted clients never call these.
  - name: Agents
    description: |
      Management plane for the agentic enrichment tier: re-drive stalled Deep Bio jobs, or research one person again on purpose. Staff-only (WorkOS role admin, no scope grants them) because each call can spend provider credit. Not part of the consumer contract — an agent's output leaves through the publish projections like any other fact.
paths:
  /v1/entities/{id}:
    get:
      operationId: getEntity
      tags:
        - Entities
      summary: Get the canonical entity for an id
      description: |
        Resolves the id through the merge chain (merged_into) and returns the living canonical row. The response id may differ from the requested id — consumers must overwrite stored references with the returned id. Requires scope `read:entity`.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The canonical entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/entities/{id}/projection:
    get:
      operationId: getEntityProjection
      tags:
        - Projections
      summary: Get the versioned projection for a company or person
      description: |
        Returns `company_projection.v1` or `person_projection.v1` depending on the entity type — the versioned envelope consumers apply idempotently to their own storage. Check `schema_version` to tell them apart. The id resolves through the merge chain first; the `universe_*_uuid` in the body is always the canonical id, and it is also the graph node id. `run_id` is deterministic per (entity, source state): re-pulling unchanged data yields the same run_id, so consumer re-applies are natural no-ops. Returns 404 until a company has been distilled, and — for a person — until enrichment has completed SUCCESSFULLY: a person whose run is still pending or settled-failed is deliberately not emitted. Requires scope `projections:pull`.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The projection package.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/CompanyProjectionEnvelope'
                  - $ref: '#/components/schemas/PersonProjectionEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/entities/{id}/subgraph:
    get:
      operationId: getEntitySubgraph
      tags:
        - Projections
      summary: Get an entity and its directly connected neighbours from the graph
      description: |
        Returns the entity plus everything one hop away, as nodes and edges copied verbatim from the graph, for a consumer to write into its own graph unchanged.
        This projection is derived from the graph, not from Postgres rows. The row-derived projections carry only what has rows; several edge types have none, FOUNDED among them, so a consumer that rebuilds relationships from those loses them with no error.
        Geography, expertise and tombstoned nodes are excluded, and a node reached by several edges is returned once. Exclusions are policy, not a caller option: they depend on the ontology, and two consumers copying one entity must get the same graph.
        Only edges incident to the anchor are returned. An edge between two neighbours belongs to their own neighbourhoods.
        Node and edge properties are returned verbatim and are deliberately untyped: the same key carries different types across labels, so updated_at is a string on Person and an integer on Company.
        Embeddings are returned as arrays of numbers. A consumer must re-wrap them as vectors on write, or its vector index will not see them and search will silently return nothing.
        404 until the entity's first node write has landed. Write the nodes before the edges. An edge write matches its two endpoints, so running it first drops every edge with no error and no warning, leaving a node set that looks complete and has no relationships.
        Requires scope `subgraph:read`.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Entity id. Resolved through the merge chain first.
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          required: false
          description: |
            Maximum neighbours returned. The anchor is always included and does not count toward it.
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - name: include_embeddings
          in: query
          required: false
          description: |
            Vectors dominate the payload at roughly 107KB per node. A consumer that needs structure only should turn them off; one that intends to search must keep them, since they are generated here once and are never regenerated downstream.
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: The entity and its one-hop neighbourhood.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubgraphEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/enrichment/companies/get-add:
    post:
      operationId: getAddCompany
      tags:
        - Enrichment
      summary: Get-or-create a company (the enrichment entry gate)
      description: |
        The only sanctioned company get-or-create path. Resolves the seed through strong identifiers (profile URL, domain), runs the pre-create guards and the LLM research preflight, dedups against the Universe backbone and the fundable mirror, and creates the company with its initial graph node when nothing matches. Every branch returns the shell: guard misses come back 200 with `company_created: false` and null fields — a blocked input is an answer, not an error. A company name alone is never enough: the seed must carry a domain or profile URL. Requires scope `enrich:company`.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetAddCompanyRequest'
      responses:
        '200':
          description: The company shell (found, created, or typed miss).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyShellEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/enrichment/persons/get-add:
    post:
      operationId: getAddPerson
      tags:
        - Enrichment
      summary: Get-or-create a person (the enrichment entry gate)
      description: |
        The only sanctioned person get-or-create path. Resolves the seed through its identifiers, dedups BEFORE paying for any provider, then runs the identity ladder (People Data Labs → Enrich Layer → Exa) only when nothing matched, and creates the person with an initial graph node. Every branch returns the shell: guard misses come back 200 with `person_created: false` and null fields — a blocked input is an answer, not an error. Requires scope `enrich:person`, which is independent of `enrich:company`. Two response fields need reading before you integrate. `match_via` names the key that resolved an existing person, so a caller can tell a LinkedIn hit from an email one. `fiber_deferred` means identity is still settling in a background run: the person row and node exist, enrichment has NOT been dispatched yet, and it fires automatically once the run lands — so poll the entity rather than re-posting the seed.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetAddPersonRequest'
      responses:
        '200':
          description: The person shell (found, created, or typed miss).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonShellEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/enrichment/companies/{id}/social-insights:
    post:
      operationId: companySocialInsights
      tags:
        - Enrichment
      summary: Generate on-demand social insights for a company
      description: |
        Runs the social-insights synthesis (Grok over six bounded web evidence results) for one company — an on-demand context tool for meeting prep and suggestion flows, deliberately NOT part of the enrichment pipeline. Requires scope `social_media_insights:company`. Results are cached for 5 days: a repeat call inside the window returns the stored insights with `cached: true` and costs no LLM run (pass `force: true` to rebuild anyway). Companies with no distilled about text return `skipped: true` — enrich first.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                force:
                  type: boolean
                  description: Bypass the 5-day cache and rebuild.
      responses:
        '200':
          description: The insights (fresh, cached, or a typed skip).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SocialInsightsEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/enrichment/persons/{id}/social-insights:
    post:
      operationId: personSocialInsights
      tags:
        - Enrichment
      summary: Generate on-demand social insights for a person
      description: |
        The person twin of the company trigger: a Grok synthesis over six bounded web evidence results, grounded in the person's distilled biography. On-demand context for meeting prep and suggestion flows, deliberately NOT part of the enrichment pipeline. Requires scope `social_media_insights:person` — a client sold company context is not thereby sold context on individuals. Results are cached for 5 days: a repeat call inside the window returns the stored insights with `cached: true` and costs no LLM run (pass `force: true` to rebuild anyway). People with no distilled biography return `skipped: true` — enrich first.
        Returns six outputs. `insights` name a platform and a time anchor; `interests` accumulate across runs rather than being replaced; `profile_urls` carry the evidence that bound them and are the only ones persisted, with everything refused recorded in `held_profile_urls`; `coverage_note` is the only place evidence- coverage commentary appears; `social_media_influence` is null rather than padded when the evidence cannot fill it.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                force:
                  type: boolean
                  description: Bypass the 5-day cache and rebuild.
      responses:
        '200':
          description: The insights (fresh, cached, or a typed skip).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonSocialInsightsEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/callbacks/fullenrich:
    post:
      operationId: fullEnrichCallback
      tags:
        - Enrichment
      summary: Receive a finished FullEnrich profile (provider plane)
      description: |
        **Provider plane, not a consumer surface** — FullEnrich POSTs the profile we asked for. There is no API key and no scope: the caller proves itself with `X-Signature-SHA1`, an HMAC of the raw body keyed with the API key we call FullEnrich with. An unconfigured key denies every request. Documented for operators, not for integration: no consumer may call it, and it reads nothing out of the Universe. Delivery is at-least-once and may arrive more than once for one lookup, so the body is taken as evidence before it is judged. Every signed body is answered 200, including one we cannot parse or attribute — a non-2xx makes FullEnrich redeliver, and redelivery is what once wrote one person's profile onto another. A 500 means we failed to keep the payload and genuinely want it again.
      security:
        - providerSignature: []
      requestBody:
        required: true
        description: FullEnrich's webhook body, kept verbatim.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: The delivery was taken.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/backfill/graph/seed/locations:
    post:
      operationId: seedGraphLocations
      tags:
        - Graph
      summary: Run one bounded batch of geography node creation
      description: |
        Operator-only. `kind=country` MERGEs `Country:Entity` nodes; `kind=region` MERGEs `Region:Entity` nodes plus their `IN_COUNTRY` edge; `kind=city` MERGEs `City:Entity` nodes plus `IN_REGION` (or `IN_COUNTRY` for region-less cities). Rows whose parent node is missing are held back (`awaiting_parent`) and picked up on a later run — seed countries, then regions, then cities, re-running each while `has_more` is true. Requires an authenticated admin user (role `admin`); consumer API keys are rejected.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                kind:
                  type: string
                  enum:
                    - country
                    - region
                    - city
                limit:
                  type: integer
                  description: Rows per batch (default 15, max 100).
              required:
                - kind
      responses:
        '200':
          description: Batch summary.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeedResultEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/backfill/graph/seed/expertise:
    post:
      operationId: seedGraphExpertise
      tags:
        - Graph
      summary: Run one bounded batch of expertise taxonomy node creation
      description: |
        Operator-only. `kind=domain` creates `DomainExpertise:Entity` nodes; `kind=subdomain` creates `SubDomainExpertise:Entity` nodes plus `HAS_SUBDOMAIN` edges. Subdomains whose parent domain has no node yet are held back (reported as `awaiting_parent`) and picked up on a later run. Seed domains to exhaustion before subdomains. Re-run while `has_more` is true. Requires an authenticated admin user (role `admin`); consumer API keys are rejected.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                kind:
                  type: string
                  enum:
                    - domain
                    - subdomain
                limit:
                  type: integer
                  description: Rows per batch (default 15, max 100).
              required:
                - kind
      responses:
        '200':
          description: Batch summary.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeedResultEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/backfill/graph/wipe:
    post:
      operationId: wipeGraph
      tags:
        - Graph
      summary: Wipe enrichment-created graph nodes and/or table rows
      description: |
        Operator-only, DESTRUCTIVE. `target` selects what dies — `nodes` (default): one bounded batch of nodes whose labels are outside the reference keep-set (Country, Region, City, DomainExpertise, SubDomainExpertise) — or, with `entity_type`, only that scope's labels (company = Company + Funding_Round; person = Person + its credential nodes Work, Certification, Honor; film_tv = Film_TV + Film_TV_Award; music = Music_Group, Release_Group, Recording, Music_Work, Event plus the Release and Place support nodes) — plus the write-back ledgers nulled (entities graph_node_uuid / graph_written_at, entity_addresses graph_written_at, funding_rounds graph_node_uuid / raised_edge_uuid) so replay rebuilds them; round caveat: with rows kept, cleared round uuids require a table-side reset before deals reprocess or duplicates land. `tables`: one-transaction delete of enrichment-written ROWS — theses, typed caches, entities and every ON DELETE CASCADE dependent (identifiers, facts, payloads, attempts, queue, satellites, dates, rounds, profiles) — plus fundables.deals.processed_at reset so the fanout re-materializes rounds (mirror data itself untouched); no graph calls. `all`: tables first, then a node batch. Seeded reference rows and nodes always survive. Do not run while enrichment/queue drain is active. Requires `confirm: true`; re-run while `has_more` is true (node batches; table wipes are one-shot). Requires an authenticated admin user (role `admin`); consumer API keys are rejected.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                confirm:
                  type: boolean
                  description: Must be true — guards against stray POSTs.
                limit:
                  type: integer
                  description: Nodes per batch (default 1000, max 10000).
                entity_type:
                  type: string
                  description: |
                    Optional scope; omit to wipe every non-reference node. Known scopes: company, person, film_tv, music. `music` is the one umbrella — it covers all five music entity types (music_group, music_release_group, music_recording, music_work, music_event) plus the music_release / music_place support rows and the artist / label satellite profiles, because they are one pipeline.
                target:
                  type: string
                  enum:
                    - nodes
                    - tables
                    - all
                  description: What dies; omitted = nodes.
              required:
                - confirm
      responses:
        '200':
          description: Batch summary.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WipeResultEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/falkordb:
    get:
      operationId: listFalkorDBInstances
      tags:
        - Graph
      summary: List graph connection-config rows
      description: |
        Operator-only. Returns every falkordb.falkordb row, newest first. The OLDEST row is the one read at boot to build the graph client. Credentials are included by design. Requires an authenticated admin user (role `admin`); consumer API keys are rejected.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: All connection-config rows.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceListEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
    post:
      operationId: createFalkorDBInstance
      tags:
        - Graph
      summary: Create a graph connection-config row
      description: |
        Operator-only. Inserts a falkordb.falkordb row; the config is read at boot, so it takes effect on the next process start. db_connection or host is required. Requires an authenticated admin user (role `admin`); consumer API keys are rejected.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                graph_name:
                  type: string
                user_name:
                  type: string
                password:
                  type: string
                host:
                  type: string
                port:
                  type: string
                db_connection:
                  type: string
                  description: |
                    Full endpoint (redis:// / falkors:// URL or host:port); used verbatim when set.
      responses:
        '201':
          description: The created row.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/falkordb/{id}:
    delete:
      operationId: deleteFalkorDBInstance
      tags:
        - Graph
      summary: Delete a graph connection-config row
      description: |
        Operator-only. Removes a falkordb.falkordb row; effective on the next process start. Requires an authenticated admin user (role `admin`); consumer API keys are rejected.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Deleted (data is null).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/admin/clients:
    post:
      operationId: createConsumerClient
      tags:
        - Admin
      summary: Register a consumer client
      description: |
        Management plane, never part of the consumer data contract. Registers a client with its entitlement scopes; issue a key next via `POST /v1/admin/clients/{id}/keys`. Requires an authenticated admin USER (WorkOS session bearer token, role `admin`) — consumer API keys are always rejected here. Until the auth feature lands the verifier is nil and every deployed environment denies all requests.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Unique display name for the client org.
                scopes:
                  type: array
                  items:
                    type: string
                  description: |
                    Entitlement scopes — data plane only (read:entity, read:person, read:company, read:film_tv, projections:pull, subgraph:read, investor_narrative:read, corrections:propose, enrich:company, enrich:person, enrich:film_tv, social_media_insights:company, social_media_insights:person). Unknown scopes are rejected; management actions are role-guarded and have no scope.
                entitlements:
                  type: object
                  description: |
                    Optional entity-level filter for partial-data deals, e.g. {"entity_types": ["person"]}. Empty = full access within scopes.
                contact_email:
                  type:
                    - string
                    - 'null'
              required:
                - name
      responses:
        '201':
          description: The registered client (no key material).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsumerClientEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: A client with this name already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/admin/clients/{id}/keys:
    post:
      operationId: issueConsumerClientKey
      tags:
        - Admin
      summary: Issue an API key for a client
      description: |
        Management plane. Mints a raw API key, stores only its SHA-256 hash, and returns the raw key ONCE — it cannot be retrieved again, only revoked and replaced. Multiple active keys per client enable zero-downtime rotation: issue new, deploy, revoke old. Requires an authenticated admin user (role `admin`), never a consumer API key.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type:
                    - string
                    - 'null'
                  description: Ops label, e.g. "initial key 2026-07".
                expires_at:
                  type:
                    - string
                    - 'null'
                  format: date-time
                  description: Optional expiry; must be in the future.
      responses:
        '201':
          description: The issued key, raw secret included this once.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssuedKeyEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/admin/keys/{id}/revoke:
    post:
      operationId: revokeConsumerClientKey
      tags:
        - Admin
      summary: Revoke an API key
      description: |
        Management plane. Soft-revokes one key (the row survives for audit); other keys on the same client keep working. Requires an authenticated admin user (role `admin`), never a consumer API key.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Revoked (data is null).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/admin/agents/deep-bio/sweep:
    post:
      operationId: sweepDeepBioJobs
      tags:
        - Agents
      summary: Re-drive Deep Bio jobs that stopped without settling (management plane)
      description: |
        Picks the research jobs that stalled and asks a worker to run each again. **Management plane, staff only** — a WorkOS session with role `admin`, never a consumer API key. There is no scope that grants this, because a swept job can spend provider credit. Three kinds of row are picked: a `pending` job whose run request was lost, an `error` job whose retry is due, and a `running` job whose lease expired because its worker died. Jobs out of attempts are never picked, so a doomed job stops being swept rather than looping. The case this exists for is a job RELEASED after its envelope landed: it holds a paid, valid payload that nothing else will ever normalize. Sweeping that job usually costs NOTHING, because the runner resumes from the stored envelope instead of re-buying the research. It only REQUESTS runs — it never creates a job, so it cannot spend outside the launch guards (freshness window and daily cap). One bounded batch per call, so an operator watches the counts rather than starting an unbounded drain. A full batch is not a cleared backlog: call again until `picked` is zero.
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          description: |
            Jobs to request in this batch. Omitted uses the server default (5, matching the cron's batch size).
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: |
            What the sweep asked for. `picked` is what the query returned and `requested` is what was published; a gap means the topic refused and those rows stay picked for the next sweep.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepBioSweepEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
  /v1/admin/agents/deep-bio/persons/{id}/force:
    post:
      operationId: forceDeepBio
      tags:
        - Agents
      summary: Research one person's Deep Bio again (management plane)
      description: |
        Creates a research job even when the person already has a recent successful one, bypassing the freshness window. **Management plane, staff only** — a WorkOS session with role `admin`, never a consumer API key. There is no scope that grants this: one call buys minutes of web research and tens of thousands of output tokens. The daily spend cap STILL APPLIES. Forcing is for re-running one person, never for getting past the ceiling — a refusal by the cap returns 200 with `outcome: skipped` and a null `job_id`, because nothing went wrong, the answer is no. Single-flight still applies too: a person with a live job gets that job's id back rather than a second one. `requested` is false when the job exists but no worker was asked (the run request failed) — the sweep above collects it.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: The person entity's canonical id.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: |
            The job the request resolved to, and what the guards decided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepBioForceEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Consumer API key issued by the consumers registry.
    providerSignature:
      type: apiKey
      in: header
      name: X-Signature-SHA1
      description: |
        Provider callback plane. Hex-lowercase HMAC-SHA1 of the raw request body, keyed with the API key we call that provider with — so the provider holds no consumer identity and no second secret exists. Verified against the bytes as sent; a re-serialized body has a different digest.
  schemas:
    Meta:
      type: object
      properties:
        requestId:
          type: string
      required:
        - requestId
    Error:
      type: object
      properties:
        code:
          type: string
          description: Upper-snake error kind (VALIDATION_FAILED, NOT_FOUND, ...).
        message:
          type: string
        details:
          type:
            - array
            - 'null'
          items:
            type: object
            properties:
              field:
                type: string
              issue:
                type: string
      required:
        - code
        - message
    ErrorEnvelope:
      type: object
      properties:
        data:
          type: 'null'
        error:
          $ref: '#/components/schemas/Error'
        meta:
          $ref: '#/components/schemas/Meta'
      required:
        - data
        - error
        - meta
    EmptyEnvelope:
      type: object
      properties:
        data:
          type: 'null'
        error:
          type: 'null'
        meta:
          $ref: '#/components/schemas/Meta'
      required:
        - data
        - error
        - meta
    Entity:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The canonical (living) entity id. Persist this one.
        requested_id:
          type: string
          format: uuid
          description: The id the caller asked for; differs after a merge.
        entity_type:
          type: string
        display_name:
          type:
            - string
            - 'null'
      required:
        - id
        - requested_id
        - entity_type
        - display_name
    EntityEnvelope:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Entity'
        error:
          type: 'null'
        meta:
          $ref: '#/components/schemas/Meta'
      required:
        - data
        - error
        - meta
    ProjectionCompany:
      type: object
      description: The company record. Maps to the consumer's companies table.
      properties:
        name:
          type:
            - string
            - 'null'
        aliases:
          type: array
          items:
            type: string
          description: |
            Every known alias. A consumer storing a single alias takes the first — Universe does not drop the rest at the boundary.
        legal_name:
          type:
            - string
            - 'null'
        logo:
          type:
            - string
            - 'null'
        domain:
          type:
            - string
            - 'null'
        alternative_domains:
          type: array
          items:
            type: string
        linkedin_url:
          type:
            - string
            - 'null'
        tagline:
          type:
            - string
            - 'null'
        long_description:
          type:
            - string
            - 'null'
          description: The long-form about text.
        short_description:
          type:
            - string
            - 'null'
          description: The clamped short about text.
        social_insights:
          type: array
          items:
            type: string
          description: Always empty today — insights are not distilled yet.
        founded:
          type:
            - integer
            - 'null'
        is_school:
          type: boolean
        is_vc:
          type: boolean
        employee_range:
          type:
            - string
            - 'null'
        employees_citation:
          type:
            - string
            - 'null'
          description: One sentence naming what was read and the value shown.
        employees_citation_url:
          type:
            - string
            - 'null'
          description: The exact page the range was read from.
        last_enriched:
          type:
            - string
            - 'null'
          format: date-time
        enrichment_status:
          type: string
          enum:
            - seeded
            - enriching
            - complete
            - failed
      required:
        - name
        - aliases
        - legal_name
        - logo
        - domain
        - alternative_domains
        - linkedin_url
        - tagline
        - long_description
        - short_description
        - social_insights
        - founded
        - is_school
        - is_vc
        - employee_range
        - employees_citation
        - employees_citation_url
        - last_enriched
        - enrichment_status
    ProjectionMoney:
      type: object
      description: |
        An amount as the source reported it. value_usd is only ever the source's own USD figure — Universe never converts currencies, so a non-USD amount may carry a null value_usd.
      properties:
        value:
          type:
            - number
            - 'null'
        currency:
          type:
            - string
            - 'null'
        value_usd:
          type:
            - number
            - 'null'
        citation:
          type:
            - string
            - 'null'
        citation_url:
          type:
            - string
            - 'null'
      required:
        - value
        - currency
        - value_usd
    ProjectionFinancials:
      type: object
      description: |
        Maps to the consumer's company_financials table. The fields marked "no source yet" are always null today and are present so the shape does not change when a producer lands.
      properties:
        company_type:
          type:
            - string
            - 'null'
        yc_batch:
          type:
            - string
            - 'null'
        is_public:
          type: boolean
        went_public_on:
          type:
            - string
            - 'null'
          description: ISO date (YYYY-MM-DD).
        ticker:
          type:
            - string
            - 'null'
        primary_exchange:
          type:
            - string
            - 'null'
        stock_link:
          type:
            - string
            - 'null'
        funding_summary:
          type:
            - string
            - 'null'
        funding_total_value_usd:
          type:
            - integer
            - 'null'
        funding_total_currency:
          type:
            - string
            - 'null'
        total_rounds_raised:
          type:
            - integer
            - 'null'
        revenue:
          oneOf:
            - $ref: '#/components/schemas/ProjectionMoney'
            - type: 'null'
        acquired:
          type: boolean
        acquired_by:
          type:
            - string
            - 'null'
        stock_label:
          type:
            - string
            - 'null'
          description: No source yet — always null.
        acquired_by_permalink:
          type:
            - string
            - 'null'
          description: No source yet — always null.
        crunchbase_acquirer_id:
          type:
            - string
            - 'null'
          description: No source yet — always null.
        acquirer_company_id:
          type:
            - string
            - 'null'
          format: uuid
          description: No source yet — always null. Would be a universe entity id.
        acquisition_price:
          oneOf:
            - $ref: '#/components/schemas/ProjectionMoney'
            - type: 'null'
        operating_status:
          type:
            - string
            - 'null'
          description: Distilled from the funding-data mirror (e.g. active, closed).
        ipo_status:
          type:
            - string
            - 'null'
          description: Distilled from the funding-data mirror (e.g. private, public).
      required:
        - company_type
        - yc_batch
        - is_public
        - went_public_on
        - ticker
        - primary_exchange
        - stock_link
        - funding_summary
        - funding_total_value_usd
        - funding_total_currency
        - total_rounds_raised
        - revenue
        - acquired
        - acquired_by
        - stock_label
        - acquired_by_permalink
        - crunchbase_acquirer_id
        - acquirer_company_id
        - acquisition_price
        - operating_status
        - ipo_status
    ProjectionInvestorProfile:
      type: object
      description: |
        Always present. A company with no investor profile gets null FIELDS, never a null object, so the consumer's upsert is unconditional. Maps to investor_company_profile.
      properties:
        exits:
          type:
            - string
            - 'null'
        investment_range:
          type:
            - string
            - 'null'
        investment_sweet_spot:
          type:
            - string
            - 'null'
        investment_stages:
          type:
            - string
            - 'null'
        derived_thesis_summary:
          type:
            - string
            - 'null'
      required:
        - exits
        - investment_range
        - investment_sweet_spot
        - investment_stages
        - derived_thesis_summary
    ProjectionBanner:
      type: object
      properties:
        url:
          type: string
        source_url:
          type:
            - string
            - 'null'
        is_main:
          type: boolean
        is_placeholder:
          type: boolean
        source:
          type:
            - string
            - 'null'
      required:
        - url
        - source_url
        - is_main
        - is_placeholder
        - source
    ProjectionFounder:
      type: object
      description: |
        A founder of the company. Maps to the consumer's owners table. Populated once the person pipeline has enriched the founder and written the FOUNDED edge; empty for a company whose people are still queued.
      properties:
        person_id:
          type: string
          format: uuid
          description: |
            The universe entity id, which is also the graph node uuid and the id the consumer stores for that person.
        name:
          type:
            - string
            - 'null'
        founded_edge_uuid:
          type:
            - string
            - 'null'
          description: |
            The graph FOUNDED edge uuid for this person→company pair. A non-null value IS the founder predicate — the consumer never re-derives founder-ness from the title text.
      required:
        - person_id
        - name
        - founded_edge_uuid
    ProjectionInvestor:
      type: object
      properties:
        id:
          type: string
          format: uuid
        investor_id:
          type:
            - string
            - 'null'
          format: uuid
          description: |
            The investor's universe entity id, or null when unresolved. Use kind to decide whether it names a person or a company.
        kind:
          type: string
          description: |
            The investor entity type (person or company). Empty string when investor_id is null — the row is anchored on the reported name alone and a later resolution pass may fill both.
        investor_name:
          type:
            - string
            - 'null'
        is_lead_investor:
          type: boolean
        graph_edge_uuid:
          type:
            - string
            - 'null'
          description: |
            The INVESTED_IN edge. Null whenever investor_id is null: a name-anchored row has no target entity, so no edge was written.
      required:
        - id
        - investor_id
        - kind
        - investor_name
        - is_lead_investor
        - graph_edge_uuid
    ProjectionPartner:
      type: object
      properties:
        id:
          type: string
          format: uuid
        investor_id:
          type: string
          format: uuid
          description: The investors[] row this partner acted for.
        person_id:
          type:
            - string
            - 'null'
          format: uuid
        name:
          type:
            - string
            - 'null'
      required:
        - id
        - investor_id
        - person_id
        - name
    ProjectionRound:
      type: object
      description: |
        One funding round with its investors nested, mirroring the consumer's foreign keys. Provisional LLM-derived rounds are never included — every round here is source-confirmed.
      properties:
        id:
          type: string
          format: uuid
        round_permalink:
          type:
            - string
            - 'null'
        funding_type:
          type:
            - string
            - 'null'
        money_raised:
          oneOf:
            - $ref: '#/components/schemas/ProjectionMoney'
            - type: 'null'
        announced_date:
          type:
            - string
            - 'null'
          description: ISO date (YYYY-MM-DD).
        data_source:
          type: string
          description: Evidence source that recorded the round.
        description:
          type:
            - string
            - 'null'
        long_description:
          type:
            - string
            - 'null'
        external_deal_id:
          type:
            - string
            - 'null'
          description: The source's own deal id; null on LLM-derived rounds.
        canonical_deal_id:
          type:
            - string
            - 'null'
          format: uuid
          description: |
            Rows sharing this id are the same financing seen through different sources. Not unique.
        extension:
          type: boolean
        pre:
          type: boolean
        graph_node_id:
          type:
            - string
            - 'null'
        num_investors:
          type:
            - integer
            - 'null'
        investors:
          type: array
          items:
            $ref: '#/components/schemas/ProjectionInvestor'
          description: Always empty today — no investor writer yet.
        partners:
          type: array
          items:
            $ref: '#/components/schemas/ProjectionPartner'
          description: |
            A SIBLING of investors, not nested inside it. Each partner carries investor_id. Always empty today — no writer yet.
      required:
        - id
        - round_permalink
        - funding_type
        - money_raised
        - announced_date
        - data_source
        - description
        - long_description
        - external_deal_id
        - canonical_deal_id
        - extension
        - pre
        - graph_node_id
        - num_investors
        - investors
        - partners
    ProjectionLink:
      type: object
      properties:
        type:
          type: string
          description: Link kind — the registrable domain label (e.g. linkedin.com), or website/profile.
        url:
          type: string
        social_profile:
          type: boolean
      required:
        - type
        - url
        - social_profile
    ProjectionEmail:
      type: object
      description: |
        One contact email. No id — the lowercased address is the dedup key, so the value addresses the row.
      properties:
        address:
          type: string
        type:
          type: string
          description: Growing vocabulary (work, personal, ...); do not switch exhaustively on it.
        verified:
          type: boolean
        source:
          type:
            - string
            - 'null'
      required:
        - address
        - type
        - verified
        - source
    ProjectionPhone:
      type: object
      description: |
        One contact phone. number is the E.164 value and the dedup key, so this row carries no id either.
      properties:
        number:
          type: string
        country_calling_code:
          type:
            - string
            - 'null'
        extension:
          type:
            - integer
            - 'null'
        type:
          type: string
          description: Growing vocabulary (work, mobile, ...); do not switch exhaustively on it.
        verified:
          type: boolean
        source:
          type:
            - string
            - 'null'
      required:
        - number
        - country_calling_code
        - extension
        - type
        - verified
        - source
    ProjectionAddress:
      type: object
      description: |
        One geocoded address. The full-detail sibling of primary_location, which stays as the one-line city/region/country answer. Carries an id because a coarse row is upgraded IN PLACE under the same id when a finer address for the same place arrives — follow the id rather than inserting a second row.
      properties:
        id:
          type: string
          format: uuid
        label:
          type:
            - string
            - 'null'
          description: HQ, Office, Location — the role of this address, not a vocabulary to switch on.
        formatted_address:
          type:
            - string
            - 'null'
        address_line1:
          type:
            - string
            - 'null'
        address_line2:
          type:
            - string
            - 'null'
        unit:
          type:
            - string
            - 'null'
        number:
          type:
            - string
            - 'null'
        postal_code:
          type:
            - string
            - 'null'
        city:
          type:
            - string
            - 'null'
        region:
          type:
            - string
            - 'null'
        region_code:
          type:
            - string
            - 'null'
        country:
          type:
            - string
            - 'null'
        country_code:
          type:
            - string
            - 'null'
        latitude:
          type:
            - number
            - 'null'
        longitude:
          type:
            - number
            - 'null'
        timezone:
          type:
            - string
            - 'null'
        is_mailing_address:
          type: boolean
        source:
          type:
            - string
            - 'null'
      required:
        - id
        - label
        - formatted_address
        - address_line1
        - address_line2
        - unit
        - number
        - postal_code
        - city
        - region
        - region_code
        - country
        - country_code
        - latitude
        - longitude
        - timezone
        - is_mailing_address
        - source
    ProjectionLocation:
      type: object
      properties:
        city:
          type:
            - string
            - 'null'
        region:
          type:
            - string
            - 'null'
        country:
          type:
            - string
            - 'null'
      required:
        - city
        - region
        - country
    ProjectionDate:
      type: object
      properties:
        descriptor:
          type: string
          description: |
            Stable descriptor slug (founded, funding_round, ipo, acquisition, birthday, ...). The set grows without a contract version change.
        year:
          type:
            - integer
            - 'null'
        month:
          type:
            - integer
            - 'null'
        day:
          type:
            - integer
            - 'null'
        date:
          type:
            - string
            - 'null'
          description: ISO date (YYYY-MM-DD); null for partial dates.
        metadata:
          type: object
          description: |
            Descriptor-specific payload (funding_type/provisional/origin_ref for funding_round; acquired_by for acquisition; ticker for ipo).
          additionalProperties: true
        source:
          type:
            - string
            - 'null'
          description: Evidence source that recorded the date.
      required:
        - descriptor
        - year
        - month
        - day
        - date
        - source
    EvidenceReceipt:
      type: object
      properties:
        company:
          type: string
        quote:
          type: string
        stage:
          type: string
      required:
        - company
        - quote
    EvidenceEraBucket:
      type: object
      properties:
        'n':
          type: integer
        median:
          type:
            - string
            - 'null'
      required:
        - 'n'
    EvidenceCoverage:
      type: object
      properties:
        n_classified:
          type: integer
        n_insufficient:
          type: integer
        guard_excluded:
          type: integer
      required:
        - n_classified
        - n_insufficient
        - guard_excluded
    ProjectionEvidenceNarrative:
      type: object
      description: |
        Receipt-cited evidence-stage narrative for an investor - the bar the investor demonstrably funds at, measured from press at raise time across their classified rounds. Stage codes (E0-E5) appear only in structured fields, never in the narrative prose.
      properties:
        narrative:
          type: string
          description: Markdown narrative ending with a "Revealed evidence bar:" sentence.
        receipts:
          type: array
          items:
            $ref: '#/components/schemas/EvidenceReceipt'
        median_stage:
          type:
            - string
            - 'null'
          description: Median evidenced stage across staged rounds (E0-E5).
        era_medians:
          type: object
          description: |
            Per-era staged-round counts and medians. Keys: pre_2020, 2020_2022, 2023_plus, all_time (plus undated when present).
          additionalProperties:
            $ref: '#/components/schemas/EvidenceEraBucket'
        proof_pct:
          type:
            - number
            - 'null'
          description: Percent of staged rounds at or above paying-customer evidence.
        coverage:
          $ref: '#/components/schemas/EvidenceCoverage'
        model:
          type: string
          description: The model that produced the narrative text.
        generated_at:
          type: string
          format: date-time
      required:
        - narrative
        - receipts
        - median_stage
        - era_medians
        - proof_pct
        - coverage
        - model
        - generated_at
    CompanyProjection:
      type: object
      description: |
        The company_projection.v1 package. Breaking changes to this shape require a new schema_version, never an edit — self-hosted consumers upgrade on their own schedule.
      properties:
        schema_version:
          type: string
          const: company_projection.v1
        run_id:
          type: string
          description: Deterministic per (entity, source state). Same state, same run_id.
        universe_company_uuid:
          type: string
          format: uuid
          description: The canonical entity id. Persist this one.
        universe_node_uuid:
          type:
            - string
            - 'null'
          format: uuid
          description: |
            Equal to universe_company_uuid — entity id, typed-row id and graph node uuid are one value.
        source_updated_at:
          type:
            - string
            - 'null'
          format: date-time
        projection_generated_at:
          type: string
          format: date-time
        company:
          $ref: '#/components/schemas/ProjectionCompany'
        financials:
          $ref: '#/components/schemas/ProjectionFinancials'
        investor_profile:
          $ref: '#/components/schemas/ProjectionInvestorProfile'
        banners:
          type: array
          items:
            $ref: '#/components/schemas/ProjectionBanner'
        founders:
          type: array
          items:
            $ref: '#/components/schemas/ProjectionFounder'
        funding_rounds:
          type: array
          items:
            $ref: '#/components/schemas/ProjectionRound'
        links:
          type: array
          items:
            $ref: '#/components/schemas/ProjectionLink'
        emails:
          type: array
          items:
            $ref: '#/components/schemas/ProjectionEmail'
        phones:
          type: array
          items:
            $ref: '#/components/schemas/ProjectionPhone'
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/ProjectionAddress'
          description: Every geocoded address, HQ first.
        primary_location:
          oneOf:
            - $ref: '#/components/schemas/ProjectionLocation'
            - type: 'null'
          description: |
            The one-line city/region/country of the HQ-preferred address. A summary of addresses[0], kept for consumers that need nothing more.
        important_dates:
          type: array
          items:
            $ref: '#/components/schemas/ProjectionDate'
        evidence_narrative:
          $ref: '#/components/schemas/ProjectionEvidenceNarrative'
          description: |
            Present only for investor entities with a generated evidence-stage narrative. Additive and optional — absent for all other entities.
      required:
        - schema_version
        - run_id
        - universe_company_uuid
        - universe_node_uuid
        - source_updated_at
        - projection_generated_at
        - company
        - financials
        - investor_profile
        - banners
        - founders
        - funding_rounds
        - links
        - emails
        - phones
        - addresses
        - primary_location
        - important_dates
    CompanyProjectionEnvelope:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/CompanyProjection'
        error:
          type: 'null'
        meta:
          $ref: '#/components/schemas/Meta'
      required:
        - data
        - error
        - meta
    ProjectionPerson:
      type: object
      description: The person record.
      properties:
        first_name:
          type:
            - string
            - 'null'
        middle_name:
          type:
            - string
            - 'null'
        last_name:
          type:
            - string
            - 'null'
        suffix:
          type:
            - string
            - 'null'
        prefix:
          type:
            - string
            - 'null'
          description: No producer yet — always null.
        full_name:
          type:
            - string
            - 'null'
          description: |
            The chosen display name. Prefer it over reassembling the parts.
        sex:
          type:
            - string
            - 'null'
        avatar:
          type:
            - string
            - 'null'
        current_title:
          type:
            - string
            - 'null'
        current_company_id:
          type:
            - string
            - 'null'
          format: uuid
        primary_location:
          type:
            - string
            - 'null'
        bio:
          type:
            - string
            - 'null'
        bio_500:
          type:
            - string
            - 'null'
        deep_bio:
          type: array
          items:
            type: string
          description: Empty until the deep-research lane ships.
        social_insights:
          type: array
          items:
            type: string
        social_media_influence:
          type:
            - string
            - 'null'
        social_insights_updated_at:
          type:
            - string
            - 'null'
          format: date-time
        visibility:
          type: boolean
        is_angel:
          type: boolean
        is_c_suite:
          type: boolean
        is_enriched:
          type: boolean
        last_enriched:
          type:
            - string
            - 'null'
          format: date-time
        enrichment_status:
          type: string
          enum:
            - seeded
            - enriching
            - complete
            - failed
        expertise:
          type: array
          items:
            type: string
        roles:
          type: array
          items:
            type: string
          description: Seniority-normalized labels from a closed vocabulary.
        skills:
          type: array
          items:
            type: string
        languages:
          type: array
          items:
            type: string
        interests:
          type: array
          items:
            type: string
      required:
        - first_name
        - middle_name
        - last_name
        - suffix
        - prefix
        - full_name
        - sex
        - avatar
        - current_title
        - current_company_id
        - primary_location
        - bio
        - bio_500
        - deep_bio
        - social_insights
        - social_media_influence
        - social_insights_updated_at
        - visibility
        - is_angel
        - is_c_suite
        - is_enriched
        - last_enriched
        - enrichment_status
        - expertise
        - roles
        - skills
        - languages
        - interests
    ProjectionPersonInvestorProfile:
      type: object
      description: |
        Always present. A non-investor gets null FIELDS, never a null object, so the consumer's upsert is unconditional.
      properties:
        investor_type:
          type:
            - string
            - 'null'
        llm_investor_summary:
          type:
            - string
            - 'null'
        active_in_sector:
          type:
            - string
            - 'null'
        sectors_stages:
          type:
            - string
            - 'null'
        investments:
          type:
            - string
            - 'null'
        exits_summary:
          type:
            - string
            - 'null'
        board_advisory_summary:
          type:
            - string
            - 'null'
        location:
          type:
            - string
            - 'null'
        investment_range:
          type:
            - string
            - 'null'
        investment_sweet_spot:
          type:
            - string
            - 'null'
        derived_thesis_summary:
          type:
            - string
            - 'null'
      required:
        - investor_type
        - llm_investor_summary
        - active_in_sector
        - sectors_stages
        - investments
        - exits_summary
        - board_advisory_summary
        - location
        - investment_range
        - investment_sweet_spot
        - derived_thesis_summary
    ProjectionAvatar:
      type: object
      properties:
        url:
          type: string
        original_source_url:
          type:
            - string
            - 'null'
        is_main:
          type: boolean
        is_placeholder:
          type: boolean
        source:
          type:
            - string
            - 'null'
      required:
        - url
        - original_source_url
        - is_main
        - is_placeholder
        - source
    ProjectionWork:
      type: object
      description: |
        One work experience. Only rows with a RESOLVED employer appear — an unresolved one is reported in `omitted`, never sent with a null company.
      properties:
        id:
          type: string
          format: uuid
        company_id:
          type: string
          format: uuid
        company_name:
          type:
            - string
            - 'null'
        title:
          type:
            - string
            - 'null'
        location:
          type:
            - string
            - 'null'
        description:
          type:
            - string
            - 'null'
        start_year:
          type:
            - integer
            - 'null'
        start_month:
          type:
            - integer
            - 'null'
        end_year:
          type:
            - integer
            - 'null'
        end_month:
          type:
            - integer
            - 'null'
        current:
          type: boolean
        edge_uuid:
          type:
            - string
            - 'null'
        founded_edge_uuid:
          type:
            - string
            - 'null'
          description: |
            The graph FOUNDED edge uuid, present only on a founding role. Non-null IS the founder predicate — never re-derive it from the title text.
        source:
          type:
            - string
            - 'null'
      required:
        - id
        - company_id
        - company_name
        - title
        - location
        - description
        - start_year
        - start_month
        - end_year
        - end_month
        - current
        - edge_uuid
        - founded_edge_uuid
        - source
    ProjectionEducation:
      type: object
      description: Same resolved-school rule as ProjectionWork.
      properties:
        id:
          type: string
          format: uuid
        company_id:
          type: string
          format: uuid
          description: The school's entity id.
        school_name:
          type:
            - string
            - 'null'
        degree_name:
          type: array
          items:
            type: string
        field_of_study:
          type: array
          items:
            type: string
        activities_societies:
          type: array
          items:
            type: string
        start_year:
          type:
            - integer
            - 'null'
        start_month:
          type:
            - integer
            - 'null'
        end_year:
          type:
            - integer
            - 'null'
        end_month:
          type:
            - integer
            - 'null'
        edge_uuid:
          type:
            - string
            - 'null'
        source:
          type:
            - string
            - 'null'
      required:
        - id
        - company_id
        - school_name
        - degree_name
        - field_of_study
        - activities_societies
        - start_year
        - start_month
        - end_year
        - end_month
        - edge_uuid
        - source
    ProjectionExpertise:
      type: object
      description: One resolved expertise signal with the evidence behind it. expertise_node_uuid is the graph node the HAS_EXPERTISE edge points at, so a consumer can rebuild that edge and join it against the subgraph package.
      properties:
        id:
          type: string
          format: uuid
        expertise_node_uuid:
          type: string
        domain_expertise_id:
          type:
            - string
            - 'null'
          format: uuid
        sub_domain_expertise_id:
          type:
            - string
            - 'null'
          format: uuid
        identified_as:
          type:
            - string
            - 'null'
        kind:
          type: string
        confidence:
          type: number
        depth:
          type: string
        recency:
          type: string
        signal_type:
          type:
            - string
            - 'null'
        evidence:
          type:
            - string
            - 'null'
        match_type:
          type: string
        weight:
          type: integer
      required:
        - id
        - expertise_node_uuid
        - domain_expertise_id
        - sub_domain_expertise_id
        - identified_as
        - kind
        - confidence
        - depth
        - recency
        - signal_type
        - evidence
        - match_type
        - weight
    ProjectionCredential:
      type: object
      description: |
        The shared shape of certifications, honors, projects, publications and volunteering. `org_id`/`org_name` are the issuer, publisher or organization by family; the dated families also fill end_year / end_month / is_current.
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type:
            - string
            - 'null'
        url:
          type:
            - string
            - 'null'
        org_id:
          type:
            - string
            - 'null'
          format: uuid
        org_name:
          type:
            - string
            - 'null'
        year:
          type:
            - integer
            - 'null'
        month:
          type:
            - integer
            - 'null'
        day:
          type:
            - integer
            - 'null'
        end_year:
          type:
            - integer
            - 'null'
        end_month:
          type:
            - integer
            - 'null'
        is_current:
          type: boolean
        source:
          type:
            - string
            - 'null'
      required:
        - id
        - title
        - description
        - url
        - org_id
        - org_name
        - year
        - month
        - day
        - end_year
        - end_month
        - is_current
        - source
    ProjectionOmitted:
      type: object
      description: |
        What could NOT be published, and why. A partial work history must never read as a complete one — check these counts before treating the lists as exhaustive.
      properties:
        work_experiences:
          type: integer
        educations:
          type: integer
        reason:
          type: string
      required:
        - work_experiences
        - educations
        - reason
    PersonProjection:
      type: object
      description: |
        The person_projection.v1 package. Emitted only once enrichment has completed successfully — see the endpoint description. Breaking changes require a new schema_version, never an edit.
      properties:
        schema_version:
          type: string
          const: person_projection.v1
        run_id:
          type: string
          description: Deterministic per (entity, source state).
        universe_person_uuid:
          type: string
          format: uuid
          description: The canonical entity id. Persist this one.
        universe_node_uuid:
          type:
            - string
            - 'null'
          format: uuid
          description: Equal to universe_person_uuid.
        source_updated_at:
          type:
            - string
            - 'null'
          format: date-time
        projection_generated_at:
          type: string
          format: date-time
        person:
          $ref: '#/components/schemas/ProjectionPerson'
        investor_profile:
          $ref: '#/components/schemas/ProjectionPersonInvestorProfile'
        avatars:
          type: array
          items:
            $ref: '#/components/schemas/ProjectionAvatar'
        work_experiences:
          type: array
          items:
            $ref: '#/components/schemas/ProjectionWork'
        educations:
          type: array
          items:
            $ref: '#/components/schemas/ProjectionEducation'
        expertise:
          type: array
          items:
            $ref: '#/components/schemas/ProjectionExpertise'
        certifications:
          type: array
          items:
            $ref: '#/components/schemas/ProjectionCredential'
        honors:
          type: array
          items:
            $ref: '#/components/schemas/ProjectionCredential'
        projects:
          type: array
          items:
            $ref: '#/components/schemas/ProjectionCredential'
        publications:
          type: array
          items:
            $ref: '#/components/schemas/ProjectionCredential'
        volunteering:
          type: array
          items:
            $ref: '#/components/schemas/ProjectionCredential'
        links:
          type: array
          items:
            $ref: '#/components/schemas/ProjectionLink'
        emails:
          type: array
          items:
            $ref: '#/components/schemas/ProjectionEmail'
        phones:
          type: array
          items:
            $ref: '#/components/schemas/ProjectionPhone'
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/ProjectionAddress'
          description: Every geocoded address, HQ first.
        primary_location:
          oneOf:
            - $ref: '#/components/schemas/ProjectionLocation'
            - type: 'null'
          description: |
            The one-line summary of addresses[0]. Distinct from person.primary_location, which is the distilled free-text location string.
        important_dates:
          type: array
          items:
            $ref: '#/components/schemas/ProjectionDate'
        omitted:
          $ref: '#/components/schemas/ProjectionOmitted'
      required:
        - schema_version
        - run_id
        - universe_person_uuid
        - universe_node_uuid
        - source_updated_at
        - projection_generated_at
        - person
        - investor_profile
        - avatars
        - work_experiences
        - educations
        - expertise
        - certifications
        - honors
        - projects
        - publications
        - volunteering
        - links
        - emails
        - phones
        - addresses
        - primary_location
        - important_dates
        - omitted
    PersonProjectionEnvelope:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/PersonProjection'
        error:
          type: 'null'
        meta:
          $ref: '#/components/schemas/Meta'
      required:
        - data
        - error
        - meta
    SubgraphNode:
      type: object
      required:
        - id
        - uuid
        - labels
        - is_root
        - properties
      properties:
        id:
          type: integer
          format: int64
          description: |
            Identifies the node within this response only. It means nothing in another graph; consumers merge on uuid.
        uuid:
          type: string
          format: uuid
          description: |
            The node's identity, and what a consumer must merge on. Merge on Entity plus uuid alone and add subtype labels afterwards: merging on the full label set creates a second node under one uuid.
        labels:
          type: array
          items:
            type: string
          example:
            - Entity
            - Person
        is_root:
          type: boolean
          description: True for the requested entity, false for a neighbour.
        properties:
          type: object
          additionalProperties: true
          description: |
            Verbatim node properties, untyped because one field name carries two types across labels: updated_at is a string on Person and an integer on Company, in the same response. Decode into an untyped map, never a typed struct.
            embeddings arrives as an array and must be re-wrapped as a vector on write, or it stays an inert list the vector index never sees and search silently returns nothing. name_embedding is deprecated and should be discarded.
    SubgraphEdge:
      type: object
      required:
        - id
        - type
        - source
        - target
        - direction
        - properties
      properties:
        id:
          type: integer
          format: int64
          description: Identifies the edge within this response only.
        type:
          type: string
          example: WORKS_AT
        source:
          type: string
          format: uuid
          description: The true start node. Never flip it.
        target:
          type: string
          format: uuid
          description: The true end node.
        direction:
          type: string
          enum:
            - out
            - in
          description: Relative to the anchor. Informational only.
        properties:
          type: object
          additionalProperties: true
          description: |
            Verbatim edge properties, untyped for the same reason as nodes: description_generated_at is a string on WORKS_AT and an integer on FOUNDED, in the same response. role_history is an escaped JSON string, not a nested object, and copies across as an opaque value.
            Carries weight, the traversal cost pathfinding ranks on, which a consumer copies rather than recomputes.
    Subgraph:
      type: object
      required:
        - schema_version
        - entity_id
        - requested_id
        - entity_type
        - nodes
        - edges
        - truncated
      properties:
        schema_version:
          type: string
          description: Wire contract version. A breaking change gets a new version, not an edit.
          example: entity_subgraph.v1
        entity_id:
          type: string
          format: uuid
          description: The canonical id after merge resolution, and the anchor node's uuid.
        requested_id:
          type: string
          format: uuid
          description: |
            The id asked for. Differs from entity_id when a merge has moved the entity, so a consumer can heal a stored reference.
        entity_type:
          type: string
          example: person
        nodes:
          type: array
          items:
            $ref: '#/components/schemas/SubgraphNode'
        edges:
          type: array
          items:
            $ref: '#/components/schemas/SubgraphEdge'
        truncated:
          type: boolean
          description: |
            True when limit dropped neighbours. Edges to a dropped node are omitted, so a partial neighbourhood never reads as complete.
    SubgraphEnvelope:
      type: object
      required:
        - data
        - error
      properties:
        data:
          $ref: '#/components/schemas/Subgraph'
        error:
          type: 'null'
    GetAddCompanyRequest:
      type: object
      description: |
        The 17-field seed contract. Legacy integer fields (data_source_id) are accepted for caller compatibility and ignored.
      properties:
        domain:
          type: string
          description: Bare host preferred; URL-shaped values are discarded.
        profile_url:
          type: string
          description: |
            Company profile URL (LinkedIn company/school page or Crunchbase organization page). /school/ URLs are preserved.
        company_name:
          type: string
          description: Hint only — never used to match or create by itself.
        musicbrainz_url:
          type: string
          description: |
            The label's MusicBrainz page, or a bare mbid. A MusicBrainz label IS a company (D-2), so this is the same door as a domain — and it is identity EVIDENCE, not a hint: an mbid is a strong key, so it satisfies the identity guard where a company name alone never can, letting a label be created from its page with no website.
        source:
          type: string
          description: Canonical source string recorded on the entity.
        data_source_id:
          type: integer
          description: Legacy; accepted and ignored.
        is_vc:
          type:
            - boolean
            - 'null'
          description: Hint only; VC status is derived from evidence.
        is_school:
          type: boolean
          description: Escalate-only; triggers the school-input guard.
        queue:
          type: boolean
          description: Forces the queue path instead of async dispatch.
        hold_downstream:
          type: boolean
          description: Suppresses both dispatch and queueing.
        return_fast:
          type: boolean
          description: Skips the synchronous LLM preflight only.
        lookup_only:
          type: boolean
          description: Match-only; a miss returns the miss shell.
        allow_create:
          type:
            - boolean
            - 'null'
          description: |
            Defaults true. Explicit false is lookup-only; explicit true unlocks the controlled work-history queue exception.
        cascade_depth:
          type: integer
          description: 0 = seed (async dispatch); >0 = leaf (queued).
        priority_tier:
          type:
            - integer
            - 'null'
          description: |
            Absent means tier **0**: a direct request outranks anything a cascade discovered, and the timed drain only picks `priority_tier <= 1`. Pass an explicit value to override, including a higher number to deprioritise a bulk import.
        source_function:
          type: string
          description: Trace metadata + fan-out governor key.
        source_entity_uuid:
          type:
            - string
            - 'null'
          format: uuid
          description: Originating entity, persisted to the queue.
        source_entity_type:
          type: string
        seeded_by_user:
          type:
            - integer
            - 'null'
          description: Observability only.
        force:
          type: boolean
          description: |
            Re-runs providers past the fetch-once/debounce gates on the dispatched run (spend). Eligibility gates and write policies are never bypassed; ignored on queued and lookup-only paths.
    ProjectionStatus:
      type: object
      description: |
        Whether the consumer package rode along on this get-add and, when it did not, which gate stopped it. Always present, including when `projection` is null.
        The response status is always 200 — a resolved entity is not an error. `class` is an HTTP-SHAPED CLASS for the projection field alone, so a client can branch without knowing every slug: 200 you have it, 202 it is coming, 4xx this call will not give it to you.
        `poll` is DERIVED from `code`; a client that reads only `poll` is never wrong about whether to come back.
      properties:
        code:
          type: string
          enum:
            - 200:available
            - 200:stale
            - 202:created
            - 202:queued
            - 202:enriching
            - 202:identity_resolving
            - 403:no_permission
            - 403:not_entitled
            - 404:no_entity
            - 404:never_enriched
            - 409:not_distilled
            - 409:unsatisfied
            - 422:unsupported_entity_type
        class:
          type: integer
          enum:
            - 200
            - 202
            - 403
            - 404
            - 409
            - 422
        poll:
          type: boolean
        detail:
          type: string
          description: One human sentence. For logs, never for branching.
      required:
        - code
        - class
        - poll
        - detail
    CompanyShell:
      type: object
      description: |
        Returned populated on found/created branches, null-fielded on misses. company_created is true only on a fresh create.
      properties:
        company_created:
          type: boolean
        master_company_id:
          type:
            - string
            - 'null'
          format: uuid
          description: The Universe entity UUID (canonical id).
        node_uuid:
          type:
            - string
            - 'null'
          format: uuid
          description: |
            Graph node uuid; populated on creates unless the graph was unavailable (backfilled later).
        company_name:
          type:
            - string
            - 'null'
        company_domain:
          type:
            - string
            - 'null'
        permalink:
          type:
            - string
            - 'null'
          description: Reserved; always null today.
        linkedin_url:
          type:
            - string
            - 'null'
        projection:
          oneOf:
            - $ref: '#/components/schemas/CompanyProjection'
            - type: 'null'
          description: |
            The company_projection.v1 package, byte-identical to GET /v1/entities/{id}/projection — one schema, two doors.
            Present only when ALL of: the company already existed (`company_created: false`), it is publishable, and the caller holds `projections:pull` plus the entity-type entitlement. Null otherwise, with the reason in `projection_status`.
        projection_status:
          $ref: '#/components/schemas/ProjectionStatus'
      required:
        - company_created
        - master_company_id
        - node_uuid
        - company_name
        - company_domain
        - permalink
        - projection
        - projection_status
        - linkedin_url
    CompanyShellEnvelope:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/CompanyShell'
        error:
          type: 'null'
        meta:
          $ref: '#/components/schemas/Meta'
      required:
        - data
        - error
        - meta
    GetAddPersonRequest:
      type: object
      description: |
        The #13039 seed contract.
        Six fields were removed on 2026-08-28. `phone_region` went because `phone_numbers` must be E.164 — the country comes off the `+`, and the hint could only ever have affected a number sent without one. The other five because nothing read them: `user_id`, `data_source`, the integer `source_entity_id`, `orbiter_verified`, and `is_c_suite` (which the company handoff writes internally, never a caller).
        Sending any of them is still harmless — unknown keys are ignored, not rejected — so no integrator needs to change.
      properties:
        full_name:
          type: string
          description: |
            Split deterministically into first/middle/last. A provider-supplied name wins over this one.
            When `first_name`, `middle_name` or `last_name` are also sent, this still wins as the display name — so a prefix and suffix ("Dr. ... , MD") survive — while the parts win as the parts.
        first_name:
          type: string
          description: |
            The caller's own split, for a name whose structure a string does not carry. Sending ANY of `first_name`, `middle_name` or `last_name` makes the caller authoritative about ALL THREE: the deterministic split of `full_name` is discarded for these fields, never merged field-by-field, because omitting `middle_name` is an assertion that there is none.
            Use these when the form already knows the structure. `full_name` alone cannot express a Han/Hangul/Kana name (the split yields no parts), a Hispanic or Portuguese double surname (the whole tail lands in `last_name`), or a four-token name (its middle tokens appear in no part). Omit them and nothing changes — a provider that only has a full name keeps sending just `full_name`.
        middle_name:
          type: string
          description: See `first_name`. Omitting it asserts there is no middle name.
        last_name:
          type: string
          description: See `first_name`. May be multi-word ("Rodriguez Garcia", "El Khoury").
        linkedin_url:
          type: string
          description: |
            The person's own `linkedin.com/in` profile, and the primary identity key of the whole provider ladder. Its own field because it is a DATA SOURCE, not context.
            Canonicalized before use, so casing, `www.`, a trailing slash and a regional host (`br.linkedin.com`) all resolve to one key. A URL that is not a `/in/` profile is refused rather than keyed — a `/company/` page or an `x.com` link here would make a Twitter handle somebody's identity.
        imdb_url:
          type: string
          description: |
            The person's IMDb name page, or a bare `nm`-id. The KIND is checked: a `/title/` url is refused rather than keying a person onto a film. Either form stores the bare id.
        musicbrainz_url:
          type: string
          description: |
            The artist's MusicBrainz page, or a bare mbid, for a caller who already knows it. A MusicBrainz person artist IS a person (D-2). The KIND is checked — a release-group id here would key a person on an album.
        email:
          type: array
          items:
            type: string
          description: |
            Lowercased and deduped. Drives the identity ladder; a non-role-local address is a strong key for a person.
        links:
          type: array
          items:
            type: string
          description: |
            **Context and search**: x.com, Instagram, a personal site — the things that describe a persona rather than key it.
            The three DATA SOURCE urls each have their own field (`linkedin_url`, `imdb_url`, `musicbrainz_url`) and belong there. An identity URL found here is still honoured as a fallback, so a caller that puts everything in `links` keeps working; the dedicated field wins when both are given.
        phone_numbers:
          type: array
          items:
            type: string
          description: |
            **Send E.164, with the country code** (e.g. "+254758828399"). The country is read off the `+` itself, so no region hint is needed or accepted.
            A number WITHOUT a country code is stored as evidence and never becomes an identifier — guessing a country would fuse two unrelated people. Punctuation and spacing are stripped, and duplicates collapse on the normalized form.
        company_name:
          type: string
          description: Employer hint; read by the orchestrator, not the gate.
        title:
          type: string
          description: Role hint; read by the orchestrator, not the gate.
        source:
          type: string
          description: |
            Business attribution recorded on contact rows (e.g. "User Input", "Hubspot"). Provider-discovered rows carry the provider's own name instead.
        queue:
          type: boolean
          description: Forces the queue path instead of async dispatch.
        deep_research:
          type: boolean
          description: |
            Requests the agentic bio tier; OR-promoted on the queue row, so it is never cleared by a later request that omits it.
        cascade_depth:
          type: integer
          description: |
            0 = seed (providers run, async dispatch); >0 = leaf (no provider spend, queued) so one seed cannot start a wave.
        priority_tier:
          type:
            - integer
            - 'null'
          description: |
            Absent means tier **0**: a direct request outranks anything a cascade discovered, and the timed drain only picks `priority_tier <= 1`. Pass an explicit value to override, including a higher number to deprioritise a bulk import.
        hold_downstream:
          type: boolean
          description: Suppresses both dispatch and queueing.
        source_function:
          type: string
        source_entity_uuid:
          type:
            - string
            - 'null'
          format: uuid
          description: Discovery provenance, persisted to the queue row.
        source_entity_type:
          type: string
        force:
          type: boolean
          description: |
            Re-runs providers past the debounce on the dispatched run; never rides a queue row.
    PersonShell:
      type: object
      description: |
        Returned populated on found/created branches, null-fielded on misses. person_created is true only on a fresh create.
      properties:
        person_created:
          type: boolean
        master_person_id:
          type:
            - string
            - 'null'
          format: uuid
          description: The Universe entity UUID (canonical id).
        node_uuid:
          type:
            - string
            - 'null'
          format: uuid
          description: |
            Graph node uuid; populated on creates unless the graph was unavailable (backfilled later).
        full_name:
          type:
            - string
            - 'null'
          description: |
            A temp_-prefixed value means no source produced a name yet; it is repaired later and must not be displayed.
        linkedin_url:
          type:
            - string
            - 'null'
          description: |
            Identity-grade only — an unverified research candidate is never returned here.
        match_via:
          type:
            - string
            - 'null'
          description: |
            Which key resolved an existing person (linkedin, email, phone, pdl, fundable); null on a create.
        fiber_deferred:
          type: boolean
          description: |
            Identity is still resolving in a background run. Enrichment has not been dispatched yet and fires when the run settles.
        imdb_url:
          type:
            - string
            - 'null'
          description: |
            The canonical IMDb name page, when the person carries an imdb key. Canonical, not the URL you sent — that is how you learn two variants are one person. Null when they have no imdb key.
        projection:
          oneOf:
            - $ref: '#/components/schemas/PersonProjection'
            - type: 'null'
          description: |
            The person_projection.v1 package, byte-identical to GET /v1/entities/{id}/projection — one schema, two doors.
            Present only when ALL of: the person already existed (`person_created: false`), they are publishable, and the caller holds `projections:pull` plus the entity-type entitlement. Null otherwise, with the reason in `projection_status`.
        projection_status:
          $ref: '#/components/schemas/ProjectionStatus'
      required:
        - person_created
        - master_person_id
        - node_uuid
        - full_name
        - linkedin_url
        - match_via
        - fiber_deferred
        - imdb_url
        - projection
        - projection_status
    PersonShellEnvelope:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/PersonShell'
        error:
          type: 'null'
        meta:
          $ref: '#/components/schemas/Meta'
      required:
        - data
        - error
        - meta
    SocialActivity:
      type: object
      description: One recent (~60 day) social activity observation.
      properties:
        date:
          type: string
        platform:
          type: string
        actor:
          type: string
        summary:
          type: string
        signal:
          type: string
      required:
        - date
        - platform
        - actor
        - summary
        - signal
    SocialInsights:
      type: object
      properties:
        entity_id:
[...]
